.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .actions_wrapper {
        display: flex;
        flex: 1;
        margin-right: 20px;
        .action {
            background-color: $gray_bg_color;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            .text {
                margin: 10px 40px;
                width: 40%;
                display: flex;
                flex-direction: column;
                h3 {
                    font-size: 36px;
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 20px;
                }

                .btn_wrap {
                    margin-top: auto;
                    display: inline;
                }
            }

            .photo {
                height: 300px;
                border-radius: 20px;
                overflow: hidden;
            }
        }
    }


    .actions_button {
        background-color: $main_color;
        display: block;
        border-radius: 20px;
        width: 130px;
        display: flex;
        flex-direction: column;

        p {
            display: none;
            color:white;
        }

        img {
            object-fit: unset;
            width: 75px;
            height: 75px;
            margin: auto auto 20px auto;
        }
    }

}

@media (max-width: 1024px) {
    .actions {
        flex-direction: column;
        .actions_wrapper {
            margin: 0 0 20px 0;
        }

        .actions_button {
            flex-direction: row;
            width:300px;
            margin: auto;
            p {
                display: block;
                flex:1;
                text-align: center;
                margin: auto auto auto 10px;
            }

            img {
                margin: 10px 20px 10px 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .actions .actions_wrapper .action {
        flex-direction: column;
        .text {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
            width:100%
        }
    }
}

@media (max-width: 480px) {
    .actions .actions_wrapper .action .text h3 {
        font-size: 32px;
        margin-bottom: 10px;
    }
}
