.doctors {
    margin-top:40px;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .doctors_button {
        border-color: $sub_color;
        background-color: $sub_color;
        width:100%;
        text-align: center;
        margin-top: 30px;
    }
}

.doctors_card {
    width:22%;
    display: flex;
    flex-direction: column;
    .photo {
        border-radius: 20px;
        overflow: hidden;
        border: 0.5px solid $gray_border_color;
        height: 410px;
    }

    .text {
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
        border: 0.5px solid $main_color;
        flex: 1;
        h3{
            margin-top: 0;
            font-size: 30px;
            line-height: 1.1;
            margin-bottom: 10px;
        }

        p {
            color:$main_color;
            font-size: 16px;
        }
    }
}

.all_doctors_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .doctors_card {
        margin-bottom:  40px;
    }
}

.doctors_page {
    display: flex;
    margin-top: 20px;
    .img {
        flex: 1;
        border-radius: 20px;
        overflow: hidden;
    }
    .about{
        margin-left: 50px;
        flex:2;
        h2 {
            margin-top: 0;
        }
    }
}


@media (max-width: 1024px) {

    .doctors_card {
        width:35%;
        margin-bottom: 40px;

    }

}

@media (max-width: 768px) {
    .doctors_page {
        flex-direction: column;

        .about{
            margin: 40px 0 0 0;
        }
    }

    .doctors_card {
        width:42%;
    }
}

@media (max-width: 480px) {
    .doctors {
        .doctors_button {
            margin-top: 0;
        }
    }

    .doctors_card {
        margin-bottom: 20px;
        width:48%;
        .photo {
            height: 250px;
        }
        .text {
            padding: 14px;
            h3{
                font-size: 22px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 320px) {
    .doctors_card {
        .text {
            h3{
                word-break: break-all;
            }
        }
    }
}
