header{
    &.main_page_header {
        background-color: $gray_bg_color;
        height:  100vh;
        display: flex;
        justify-content: space-between;
        max-height: 1024px;
        min-height: 740px;
        padding: 0;

        .text_side {
            flex: 1;
            padding: 20px 35px;
            display: flex;
            flex-direction: column;



            .center_blk_wrapper {
                flex:1;
                display: flex;
                .center_blk {
                    margin: auto 0 auto 0;
                    font-weight: 200;
                    text-align: center;
                    .h{
                        font-size: 48px;
                    }
                    .sub_h {
                        font-size: 22px;
                    }
                    hr {
                        margin-left: auto;
                    }
                    .button {
                        margin-top: 40px;
                    }
                }
            }

        }

        .photo_side {
            border-radius: 20px 0 0 20px;
            background-image: url(../img/main-photo.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;
        }
    }

    .top_blk {
        display: flex;
        justify-content: space-between;
        .circl_btn {
            margin-top: auto;
            margin-bottom: auto;
        }

        .logo {
            width:317px;
            height: auto;
            img {
                object-fit: contain;
            }
        }
    }
}

.inner_page_header {
    padding: 20px 35px;
}

.inner_page_title {
    display: flex;
    justify-content: space-between;
    min-height: 310px;
    background-color: $gray_bg_color;
    margin-bottom: 20px;
    h1 {
        font-size: 48px;
        margin-top: 0;
    }

    .text{
        flex: 1;
        display: flex;
        padding: 20px;
        .wrapper {
            margin: auto 10%;
        }
    }

    .img{
        flex: 1;
        border-radius: 20px 0 0 20px;
        overflow: hidden;
    }

    &._doctor {
        background-color: $gray_bg_color;
        min-height: auto;
        .text{
            padding: 20px 0;
            .wrapper {
                margin: auto 0;
            }
        }
    }
}

@media (max-width: 768px) {
    header.main_page_header {
        flex-direction: column;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
        .photo_side {
            height: 370px;
            flex: unset;
            border-radius: 0;
        }
    }

    .inner_page_title {
        flex-direction: column;
        background-color: white;
        h1{
            font-size: 32px;
        }
        .text{
            background-color: $gray_bg_color;
            .wrapper {
                margin: auto 2%;
            }
        }
        .img{
            border-radius: 0 0 20px 20px;
        }
    }
}

@media (max-width: 480px) {
    header {
        &.main_page_header .text_side {
            padding: 20px 15px;


            .center_blk_wrapper {
                .center_blk {
                    margin-top: 30px;
                    .h{
                        font-size: 28px;
                    }
                    .sub_h {
                        font-size: 18px;
                    }
                }
            }
        }

        .top_blk .logo {
            width:200px;
        }
    }

    .inner_page_header {
        padding: 20px 15px;
    }

    .inner_page_title {
        .img {
            display: none;
        }
        min-height: unset;
        .text .wrapper {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
