.numbers_section {
    background-color: $gray_bg_color;
    min-height: 200px;
    margin-top: 80px;

    padding: 40px 0;

    .container {
        position:relative;

        h2 {
            margin-top: 0;
        }

        .logo-to-numbers {
            width: 200px;
            height: 200px;
            position: absolute;
            right: 20px;
            top: -110px;
        }
    }
}


.numbers_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    .number_element {
        width:18%;
        display: flex;
        flex-direction: column;
        .n {
            color: $main_color;
            font-size: 74px;
            font-family: 'Philosopher';
            margin-bottom: 20px;
        }

        .title {
            font-size: 22px;
        }
    }
}


@media (max-width: 1024px) {
    .numbers_wrapper .number_element {
        width:40%;
        margin-bottom: 50px;

        .title {
            width:70%;
        }
    }
}

@media (max-width: 768px) {
    .numbers_section {
        margin-top: 35px;
        .container .logo-to-numbers {
            width: 100px;
            height: 100px;
            top: -70px;
        }
    }
}

@media (max-width: 480px) {
    .numbers_section {
        margin-top: 30px;
        .container .logo-to-numbers {
            width: 70px;
            height: 70px;
        }
    }

    .numbers_wrapper .number_element {
        width:48%;
        .n {
            font-size: 42px;
        }

        .title {
            font-size: 18px;
        }
    }
}
