.princips {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    .top_line {
        height: 225px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .picture {
            width:60%;
            border-radius: 20px;
            overflow: hidden;
            border: 0.5px solid $main_color;
        }

        .header{
             flex: 1;
             margin-left: 30px;
             padding-left: 40px;
             display: flex;
             .wrapper {
                margin: auto auto auto 0;
             }
             h2 {
                margin: 0 auto 10px 0;
             }
        }
    }

    .bottom_line {
        display: flex;
        .vertical{
            margin-right: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex:1;
            .inner_princips {
                width:48%;
                height: 400px;
            }
        }

        .horizontal {
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .inner_princips {
                height: 46%;
                p {
                    width:85%;
                }
            }
        }
    }

    .inner_princips{
        border-radius: 20px;
        overflow: hidden;
        border: 0.5px solid $main_color;
        padding: 35px;
        position: relative;
    }

    .gray_princip {
        background-color: $light_gray_bg_color;
    }
}

.tooth_bg {
    width: 75px;
    height: 75px;
    position: absolute;
    border-radius: 40px;
    border:0.5px solid $main_color;
    bottom: 20px;
    right: 20px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/tooth.svg');

    &.tooth_gray {
        background-color: $light_gray_bg_color;
        background-image: url('../img/icons/tooth-white.svg');
    }
}


@media (max-width: 1024px) {
    .princips {
        .top_line {
            height: auto;
            flex-direction: column-reverse;
            .header {
                margin: 0 0 20px 0;
                flex: unset;
                height: auto;
                .wrapper {
                    display: flex;
                    flex-direction: column;

                    br{
                        display:  none;
                    }
                }

            }

            .picture {
                width:100%;
                height: 200px;
            }
        }

        .bottom_line {
            flex-direction: column;
            .vertical {
                margin: 20px 0 40px 0;

                .inner_princips {
                    height: 280px;
                }
            }

            .horizontal {
                .inner_princips:last-child {
                    margin-bottom: 0;
                }

                .inner_princips {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .princips .bottom_line .vertical .inner_princips {
        height: 350px;
    }
}

@media (max-width: 480px) {
    .princips .bottom_line {
        font-size: 18px;
        .vertical .inner_princips:first-child {
            margin-bottom: 20px;
        }

        .vertical  {
            margin-bottom: 20px;
            .inner_princips {
                width: 100%;
                height: auto;
                p {
                    width: 70%;
                }
            }
        }
        .horizontal .inner_princips {
            margin-bottom: 20px;
            p {
                width: 70%;
            }
        }
    }
}
