.useful-cards{
        min-height: 270px;
        height: 100%;

        display: flex;
    &__item {
        display: flex;
        flex-direction: column;

        &-img {
            max-width: 338px;
            width: 100%;
            height: 227px;
            border-radius: $border_rad_main;
            overflow: hidden;
            margin-bottom: 20px;
            border: 1px solid #96744A;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            gap: 5px;
            padding: 15px;
            border: 1px solid #96744A;
            border-radius: $border_rad_main;
            overflow: hidden;


        }

        &-text {
            margin-bottom: 10px;
        }

        &-title{
            font-weight: 700;
            font-size: 19px;
        }

        &-more{
            font-size: 14px;
            margin-top: auto;
            color: $main_color;
        }
    }
}
swiper-container{
    display: flex;
}

swiper-slide{
    display: flex;
}
