.lend_icon_blk_wrapper {
    display:flex;
    flex-wrap: wrap;
    row-gap:30px;
    justify-content: space-between;
    .lend_icon_blk {
        width:23%;
        padding: 20px;
        border-radius: $border_rad;
        border:1px solid $main_color;
        .icon_wrapper {
            width:68px;
            height:68px;
            margin-bottom: 20px;
            img {
                width:100%;
                height:100%;
                object-fit: contain;
            }
        }
    }
}


@media (max-width: 1024px) {
    .lend_icon_blk_wrapper {
        .lend_icon_blk {
            width:48%;
        }
    }
}

@media (max-width: 480px) {
    .lend_icon_blk_wrapper {
        row-gap: 20px;
        .lend_icon_blk {
            padding: 10px;
            font-size: 14px;


            .icon_wrapper {
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
            }
        }


    }
}
