.center_blk_lend {
    display: flex;
    flex-direction: column;

    .button {
        margin: 20px auto;
    }
}

.c_param_lending {
    margin: auto;
    display: flex;
    margin-top: 20px;

    flex-direction: column;
    .icon {
        margin: 0 auto;
    }
    span {
        margin: 10px auto auto auto;
        font-family: 'Philosopher';
        font-size: 32px;
    }

}




@import "icon_blk";
@import "green_number";
@import "how_lec";
@import "expert";
@import "technologi";
@import "stepper";
@import "poc_prot";
@import "imp_system";
@import "whute_procedure_technologi";
@import "white_steps";
@import "lec_process";
@import "lec_podgotovka";
