.center_blk_lend {
    display: flex;
    flex-direction: column;

    .button {
        margin: 20px auto;
    }
}

.c_param_lending {
    margin: auto;
    display: flex;
    margin-top: 20px;

    flex-direction: column;
    .icon {
        margin: 0 auto;
    }
    span {
        margin: 10px auto auto auto;
        font-family: 'Philosopher';
        font-size: 32px;
    }

}

.quote {
    border-radius: $border_rad;
    border: 1px solid $dark_gray_color;
    padding: 20px 30px;
    font-family: $sub_fonts;
    font-size: 22px;
    position: relative;
    .q {
        width:35px;
        height:35px;
        top: -15px;
        left:-10px;
        z-index: 1000;
        position: absolute;
        background-image: url(../img/icons/quote.svg);
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }

    .q2 {
        top: unset;
        left: unset;
        bottom: -15px;
        right: -10px;
    }
}




@import "icon_blk";
@import "green_number";
@import "how_lec";
@import "expert";
@import "technologi";
@import "stepper";
@import "poc_prot";
@import "imp_system";
@import "whute_procedure_technologi";
@import "white_steps";
@import "lec_process";
@import "lec_podgotovka";
