button,
.button {
    background-color: $main_color;
    border: 1px solid $main_color;
    color:white;
    padding: 10px 50px;
    cursor: pointer;
    transition: $main_transition;
    display: inline-block;
    line-height: 1;
    font-family: $main_fonts;
    font-size: 22px;
    border-radius: $border_rad;
    font-weight: 200;

    &:hover {
        background-color: $hover_color;
        border-color: $hover_color;
    }
}

.button-white {
    background-color: white;
    color: $main_color;
    border: 1px solid $main_color;
    text-decoration: none;

    &:hover{
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 480px) {
    button,
    .button {
        padding: 10px 35px;
    }
}
