details {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    summary{
        list-style: none;
        padding: 20px  50px 20px 30px;
        border-radius: $border_rad;
        position: relative;
        font-size: 22px;
        border: 0.5px solid $main_color;
        width: 100%;

        &::before{
            content: "";
            background-color: white;
            position: absolute;
            width:36px;
            height:36px;
            right: 20px;
            border-radius: 30px;
            border: 0.5px solid $sub_color;
            top: calc(50% - 18px);
            background-color: $sub_color;
            background-image: url('../img/icons/arrow_g.svg');
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .response {
        padding: 20px 0;
    }

    &[open] summary{
        background-color: $sub_color;
        color:white;
    }

    &[open] summary:before{
        content: "";
        background-color: white;
        transform: rotate(180deg);
        background-image: url('../img/icons/arrow_g_green.svg');
    }

}


@media (max-width: 480px) {
    details summary {
        font-size: 16px;
    }
}
