table {
    width: 100%;
    border-top: 0.5px solid $gray_border_color;
    border-left: 0.5px solid $gray_border_color;
    font-weight: normal;

    border-spacing: 0;

    th,td {
        border-bottom: 0.5px solid $gray_border_color;
        border-right: 0.5px solid $gray_border_color;
        padding: 10px 15px;
        text-align: left;
        word-break: break-word;
    }

    th {
        background-color: $main_color;
        color: white;
    }

    tr:nth-child(2n) td {
        background-color: $light_gray_bg_color;
    }
}


@media (max-width: 480px) {
    table {
        font-size: 14px;
        th,td {
            padding: 5px ;
        }
        .td_price {
            width:80px;
        }

        .td_code {
            width:70px;
        }
    }
}
